@model BikeVale.Models.Atendente;
@{
    @using BikeVale.Models;
    @using MySqlConnector;
    ViewData["Title"] = "AtendentesCadastrados";

    List<Atendente>listaAtendente = new List<Atendente>();
    using (MySqlConnection connection = new MySqlConnection("server=localhost;userid=teste@;password=123456;database=bancotp"))
    {
        var query = $"SELECT * from atendente "
                   + "join telefone on atendente.Id_tel = telefone.Id_tel "
                   + "join endereco on atendente.Id_endereco = endereco.Id_endereco;";
        connection.Open();
        using (MySqlCommand command = new MySqlCommand(query, connection))
        using (MySqlDataReader reader = command.ExecuteReader())
        {
            while (reader.Read())
            {
                Atendente atendente = new Atendente(Convert.ToInt32(reader["Id_atendente"]), (reader["Cpf"]).ToString(), 
                        (reader["Nome"]).ToString(), (reader["Sobrenome"]).ToString(), (reader["rua"]).ToString(), 
                        Convert.ToInt32(reader["Numero"]), (reader["Bairro"]).ToString(), (reader["Cidade"]).ToString(), 
                        (reader["Cep"]).ToString(), Convert.ToInt32(reader["Telefone"]), Convert.ToInt32(reader["Id_endereco"]), 
                        Convert.ToInt32(reader["Id_tel"]), Convert.ToInt32(reader["DDD"]));
                listaAtendente.Add(atendente);
            }
        }
    }
}
<div class="container">
    <div class="title-h1">
        <h1>Atendentes Cadastrados</h1>
    </div>
    <div class="accordion" id="accordionHistoricoDetalhes">
        @{
            foreach (Atendente atendente in listaAtendente)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_@atendente.IdAtendente">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#@atendente.IdAtendente" aria-expanded="false" aria-controls="@atendente.IdAtendente">
                            @atendente.Nome @atendente.SobreNome | (@atendente.Ddd) @atendente.Telefone
                        </button>
                    </h2>
                    <div id="@atendente.IdAtendente" class="accordion-collapse collapse"
                     aria-labelledby="heading_@atendente.IdAtendente"
                     data-bs-parent="#accordionHistoricoDetalhes">
                        <div class="accordion-body">
                            <from asp-action="DeleteAtendente" id="@atendente.IdAtendente">
                                <div class="row">
                                    <div class="row">
                                        <div class="input-group mb-3 col">
                                            <p>Nome: @atendente.Nome @atendente.SobreNome</p>
                                        </div>
                                        <div class="input-group mb-3 col">
                                            <p>CPF: @atendente.Cpf</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group mb-3 col">
                                            <p>Endereço: @atendente.Rua, @atendente.Numero, @atendente.Bairro </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group mb-3 col">
                                            <p>Cidade: @atendente.Bairro </p>
                                        </div>
                                        <div class="input-group mb-3 col">
                                            <p>CEP: @atendente.Cep</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>Numero celular: @atendente.Telefone </p>
                                        </div>
                                        <form asp-action="DeleteAtendente" class="col">
                                            <div class="mb-3 invisivel">
                                                <label class="form-label" type="text" for="IdEndereco">IdTelefone</label>
                                                <input class="form-control" type="text" id="IdEndereco" value="@atendente.IdEndereco" name="IdEndereco">
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-danger" onclick="alerta()" name="IdAtendente" value="@atendente.IdAtendente">Excluir</button>
                                            </div>
                                            <div class="mb-3 invisivel">
                                                <label class="form-label" type="text" for="IdTelefone">IdTelefone:</label>
                                                <input class="form-control" type="text" id="IdTelefone" value="@atendente.IdTelefone" name="IdTelefone">
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </from>
                        </div>
                    </div>
                </div>

                <script>
                   function alerta() {
                        alert("Atendente @atendente.Nome @atendente.SobreNome, apagad0 com sucesso!");
                   }
               
                   function limparFormulario() {
                       document.getElementById("formulario").reset();
                   }
               
               </script>
            }
        }
    </div>
</div>
<div class="padding"></div>