@model BikeVale.Models.Cliente
@using BikeVale.Models;
@using MySqlConnector;
@{
    ViewData["Title"] = "ClientesCadastrados";

    List<Cliente> listacliente = new List<Cliente>();
    using (MySqlConnection connection = new MySqlConnection("server=localhost;userid=teste@;password=123456;database=bancotp"))
    {
        connection.Open();
        using (MySqlCommand command = new MySqlCommand($"SELECT cliente.Id_cliente, cliente.Nome, cliente.Sobrenome, cliente.Cpf, cliente.Email, endereco.Rua, endereco.Numero, endereco.Cidade," +
        "endereco.cep, telefone.Telefone,telefone.Id_tel, endereco.Id_endereco  from cliente" +
        " join endereco on cliente.Id_endereco = endereco.Id_endereco" +
        " join telefone on telefone.Id_tel = cliente.Id_tel;", connection))
        using (MySqlDataReader reader = command.ExecuteReader())
        {
            while (reader.Read())
            {
                Cliente c1 = new Cliente(Convert.ToInt32(reader["Id_cliente"]), (reader["Nome"]).ToString(), (reader["Sobrenome"]).ToString(),
                                       (reader["Cpf"]).ToString(), (reader["Email"]).ToString(), (reader["Rua"]).ToString(),
                                       Convert.ToInt32(reader["Numero"]), (reader["Cidade"]).ToString(), (reader["cep"]).ToString(),
                                       Convert.ToInt32(reader["Telefone"]), Convert.ToInt32(reader["Id_tel"]), Convert.ToInt32(reader["Id_endereco"]));
                listacliente.Add(c1);
            }
        }
    }
}
<div class="container">
    <div class="title-h1">
        <h1>Clientes Cadastrados</h1>
    </div>
</div>
<div class="container">
    <div class="accordion" id="accordionHistoricoDetalhes">
        @{
            foreach (Cliente cliente in listacliente)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_@cliente.IdCliente">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#@cliente.IdCliente" aria-expanded="false" aria-controls="@cliente.IdCliente">
                            @cliente.Nome @cliente.Sobrenome | @cliente.Telefone
                        </button>
                    </h2>
                    <div id="@cliente.IdCliente" class="accordion-collapse collapse"
                     aria-labelledby="heading_@cliente.IdCliente"
                     data-bs-parent="#accordionHistoricoDetalhes">
                        <div class="accordion-body">
                            <form asp-action="DeleteCliente" id="@cliente.IdCliente">
                                <div class="row">
                                    <div class="row">
                                        <div class="input-group mb-3 col">
                                            <p>Nome: @cliente.Nome @cliente.Sobrenome</p>
                                        </div>
                                        <div class="input-group mb-3 col">
                                            <p>CPF: @cliente.Cpf</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group mb-3 col">
                                            <p>E-mail: @cliente.Email</p>
                                        </div>
                                        <div class="input-group mb-3 col">
                                            <p>Endereço: @cliente.Rua, @cliente.Numero</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group mb-3 col">
                                            <p>Cidade: @cliente.Cidade </p>
                                        </div>
                                        <div class="input-group mb-3 col">
                                            <p>CEP: @cliente.Cep</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>Numero celular: @cliente.Telefone</p>
                                        </div>
                                        <form asp-action="DeleteCliente" class="col">
                                            <div class="mb-3 invisivel">
                                                <label class="form-label" type="text" for="IdEndereco">IdTelefone</label>
                                                <input class="form-control" type="text" id="IdEndereco" value="@cliente.IdEndereco" name="IdEndereco">
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-danger" onclick="alerta()" id="IdCliente" name="IdCliente" value="@cliente.IdCliente">Excluir</button>
                                            </div>
                                            <div class="mb-3 invisivel">
                                                <label class="form-label" type="text" for="IdTelefone">IdTelefone:</label>
                                                <input class="form-control" type="text" id="IdTelefone" value="@cliente.IdTelefone" name="IdTelefone">
                                            </div>
                                        </form>
                                        <form asp-action="AtualizarCliente">
                                            <div class="mb-3">
                                            <button class="btn btn-primary" name="IdCliente" value="@cliente.IdCliente">Editar</button>
                                         </div>
                                         </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               <script>
                   function alerta() {
                       alert("Cliente @cliente.Nome @cliente.Sobrenome, apagada com sucesso!");
                   }
               
                   function limparFormulario() {
                       document.getElementById("formulario").reset();
                   }
               
               </script>
            }
        }
    </div>
</div>
